@import './markdown.css';
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


:root {
  --black: #000;
  --white: #FFF;
  --red: #EB2A48;
  --blue: #71C7FF;
  --green: #62AA2A;
  --light-green: #88DF45;
  --pink: #FF4487;

  // BRUTAL
  --brutal-border-color: var(--black);
  --brutal-shadow-color: var(--brutal-border-color);
  --brutal-border-size: .2rem;
  --brutal-shadow-size: .25rem;
  --brutal-border: var(--brutal-border-size) solid var(--brutal-border-color);
  --brutal-shadow: var(--brutal-shadow-size) var(--brutal-shadow-size) var(--brutal-shadow-color);

  --text-border-color: var(--black);
  --text-border-size: .2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html,
body,
#app {
  height: 100%;
  font-family: sans-serif, 'DM Mono', monospace;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Itim', cursive;
}

// html.dark {
//   background: #121212;
//   color-scheme: dark;
// }

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
